AuthWebApp/obj/Debug/net7.0/project.razor.vscode.bin
NorthwindAppMvc/bin/Debug/net7.0/NorthwindAppMvc.dll
NorthwindAppMvc/bin/Debug/net7.0/NorthwindAppMvc.pdb
NorthwindAppMvc/obj/Debug/net7.0/NorthwindAppMvc.dll
NorthwindAppMvc/obj/Debug/net7.0/NorthwindAppMvc.pdb
NorthwindAppMvc/obj/Debug/net7.0/project.razor.vscode.bin
NorthwindAppRazor/obj/Debug/net7.0/NorthwindAppRazor.csproj.AssemblyReference.cache
NorthwindAppRazor/obj/Debug/net7.0/project.razor.vscode.bin
NorthwindService/obj/Debug/net7.0/NorthwindService.csproj.AssemblyReference.cache
AspClass.Db/bin/Debug/net7.0/AspClass.Db.dll
AspClass.Db/bin/Debug/net7.0/AspClass.Db.pdb
NorthwindAppMvc/obj/Debug/net7.0/NorthwindAppMvc.csproj.AssemblyReference.cache
NorthwindAppMvc/obj/Debug/net7.0/project.razor.vscode.bin
